set(BDDCML_ROOT ${HOME}/sources/bddcml)

set(MUMPS_ROOT ${HOME}/lib/MUMPS_5.0.0/)
set(MUMPS_INCLUDE ${MUMPS_ROOT}/include)
set(MUMPS_LIB ${MUMPS_ROOT}/lib)

set(P4EST_ROOT ${HOME}/lib/p4est-1.1/)
set(P4EST_INCLUDE ${P4EST_ROOT}/local/include)
set(P4EST_LIB ${P4EST_ROOT}/local/lib)

set(METIS_ROOT ${HOME}/lib/metis/)
set(METIS_INCLUDE ${METIS_ROOT}/include)
set(METIS_LIB ${METIS_ROOT}/lib)

set(PARMETIS_ROOT ${HOME}/lib/parmetis/)
set(PARMETIS_INCLUDE ${PARMETIS_ROOT}/include)
set(PARMETIS_LIB ${PARMETIS_ROOT}/lib)

set(BLOPEX_ROOT ${HOME}/lib/blopex)
